@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
body, input, div, span{
  color:#44505b;
}
.container{
  background-color: #f7f5ec;

}
main{
  width:90%;
  margin: 10px auto;
  padding:20px;
  height:100hv;
  background-color: #fbf9f8;
}
@media screen and (min-width: 960px) {
  main{
    width:600px;
    margin: 10px auto;
    padding:20px;
    height:100hv;
    background-color: rgb(252, 251, 249);
  }
}

.input{
  width: 130px!important;
}
@media screen and (min-width: 960px) {
  #calc {
    max-width: 560px;
  }  
  #calc th{
    width:150px;
  }
  .tenkey_box {
    max-width: 560px;
  }
}

/*スクロールバー非表示（Chrome・Safari）*/
.content::-webkit-scrollbar{
  display:none;
}
.score_box{
  width: 90%;
  display:flex;
  margin:0 auto;
}
.btnBox {
  width: 90%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.btnBox .btn{
  height: 2.8rem;
  line-height:2.2rem;
  width: 4rem;
}
.page_title {
  font-size: 1rem;
  margin-bottom: 5px;
}