@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

html,
body,
input,
textarea,
select,
.btn,
th,
td {
  color: #44505b;
  font-family: 'Lato', sans-serif;
}

.btn {
  color: rgb(242, 235, 235);
}

.container {
  margin: 40px auto 0;
}

@media screen and (min-width: 960px) {
  .container {
    width: 600px;
  }
}

main {
  padding: 10px;
  position: relative;
  height: 100hv;
}

footer {
  margin: 0 auto;
}

.input {
  width: 130px !important;
}

@media screen and (min-width: 960px) {
  #calc {
    max-width: 560px;
  }

  #calc th {
    width: 150px;
  }

  .tenkey_box {
    max-width: 560px;
  }
}

/*スクロールバー非表示（Chrome・Safari）*/
.content::-webkit-scrollbar {
  display: none;
}

.score_box {
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.btnBox {
  width: 100%;
  text-align: center;
  display: block;
  margin: 10px auto;
}

.box {
  width: 100%;
  display: block;
  margin: 10px auto;
}

.btnBox .btn {
  text-align: center;
}

.page_title {
  font-size: 1rem;
  margin-bottom: 5px;
}

/*タイマー*/
.timer {
  height: 80px;
  font-size: 3rem;
  color: #585151;
  opacity: 0.6;
  font-family: 'Roboto';
}

/* 小さい画面 */
@media screen and (max-width: 375px) {
  .timer {
    height: 40px;
    font-size: 2rem;
  }
}